html,
body,
.container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 90vh;
  padding-left: 7rem;
}

/* Login.js */
.form-gradient .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.form-gradient input[type='text']:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type='text']:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-gradient input[type='password']:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type='password']:focus:not([readonly]) + label {
  color: #4f4f4f;
}

/* temporary box colors */
.home-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100%;
  margin: 0 20px 20px 0;
}

.home-container div {
  height: 100%;
}

.blue-square {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.green-square {
  background-color: green;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.teal-square {
  background-color: teal;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
.orange-square {
  background-color: orange;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
