html,
body,
.container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 90vh;
  padding-left: 7rem;
}

/* Login.js */
.form-gradient .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.form-gradient input[type='text']:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type='text']:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-gradient input[type='password']:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  -webkit-box-shadow: 0 1px 0 0 #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type='password']:focus:not([readonly]) + label {
  color: #4f4f4f;
}

/* temporary box colors */
.home-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100%;
  margin: 0 20px 20px 0;
}

.home-container div {
  height: 100%;
}

.blue-square {
  background-color: blue;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.green-square {
  background-color: green;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.teal-square {
  background-color: teal;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
.orange-square {
  background-color: orange;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

/*Support Default*/

.support-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  height: 100%;
  margin: 0 20px 20px 0;
}

.support-container div {
  height: 100%;
}

.yellow-square {
  background-color: yellow;
  grid-column: 2/4;
  grid-row: 1;
}

.purple-square {
  background-color: purple;
  grid-column: 2/4;
  grid-row: 2;
}

.cyan-square {
  background-color: cyan;
  grid-column: 2/4;
  grid-row: 3;
}

.grey-square {
  background-color: grey;
  grid-column: 2/4;
  grid-row: 4;
}

.support-text {
  text-align: center;
  padding-top: 60px;
  font-size: 26px;
}

.newticket-header {
  text-align: center;
  font-size: 64px;
  font-weight: bolder;
  grid-row: 1;
  grid-column: 3/6;
}

.newticket-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  height: 100%;
  margin: 0 20px 20px 0;
}

.newticket-container div {
  height: 100%;
}

.newticket-name {
  background-color: blue;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  padding-top: 40px;
}

.name-input {
  grid-column: 2/5;
  grid-row: 2;
  align-self: center;
}

.source-input {
  grid-column: 2/5;
  grid-row: 3;
  align-self: center;
}

.newticket-source {
  background-color: blue;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  padding-top: 40px;
}

.newticket-id {
  background-color: blue;
  grid-column: 1;
  grid-row: 4;
  align-self: center;
  justify-self: center;
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 20px;
}

.id-input {
  grid-column: 2/3;
  grid-row: 4;
  align-self: center;
}

.newticket-dept {
  background-color: blue;
  grid-column: 4;
  grid-row: 4;
  text-align: center;
  padding-top: 40px;
}

.dept-selector {
  grid-column: 5/8;
  grid-row: 4;
  align-self: center;
}

.newticket-desc {
  background-color: blue;
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  padding-top: 35px;
}

.desc-area {
  grid-column: 2/8;
  grid-row: 5/8;
}
